# Coverage directory used by tools like istanbul
coverage
*.lcov

# package-lock.json
package-lock.json

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# dotenv environment variables file
.env


build/

.DS_store

sendgrid.env